<!DOCTYPE html>
<html>

<head>
    <title>HomePage</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('partials/header') %>
        <section class="ui container">
            <h1>Sample Awesome Home Page</h1>
            <p>This is a simple website to test Keycloak Server integration with Node.js</p>
            <hr>
            <img src="/home.webp" alt="Let him innnn"></img>
        </section>
</body>

</html>