<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7f7f7;
        }

        .container {
            text-align: center;
            margin-top: 100px;
            padding: 0 20px;
        }

        h1 {
            color: #333;
        }

        p {
            color: #555;
            margin-bottom: 20px;
        }

        .btn-view {
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
        }

        .btn-view:hover {
            background-color: #0056b3;
        }
    </style>
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
</head>

<body>
    <div class="container">
        <h1>Welcome to Your Keycloak Server Testing Website</h1>
        <p>Keycloak is an open-source identity and access management solution, providing single sign-on and
            authorization services for your applications.</p>
        <p>It allows you to securely control user authentication and authorization, manage user identities, and
            integrate with various authentication mechanisms.</p>
        <p>Keycloak is useful for securing your applications, simplifying user management, and ensuring compliance with
            security standards.</p>
        <br><br>
        <a href="/info" class="btn-view">View Sample Website</a>
    </div>
</body>

</html>